main{
    margin: 120px 0 0 0;
}
section{
    width: 100%;
    padding-block: 70px 70px;
}
header{
    background-color: rgba(0, 0, 0, 10);

}
.container-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li a.link-active{
    color: var(--cor-primaria);
}
hr {
    background: var(--cor-degrade);
    height: 8px;
    opacity: 100;
    border: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.title-containers{
    margin: 0 auto 0 auto;
    text-align: center;
    width: fit-content;
    user-select: none;
}
.title-containers h1 {
    margin: 0 0 0 0;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-titulo);
    font-weight: var(--font-bold-titulo);
}
.box-information-all{
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px 0 30px 0;
    padding: 20px;
    display: flex;
}
.container-content-member{
    display: flex;
    width: 100%;
}
.container-text-member{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text-primary{
    display: flex;
    width: 100%;
}
.division-img-all{
    margin: 8px 0 0 8px;
    width: fit-content;
}
.box-color-img{
    height: 220px;
    width: 160px;   
    background-color: var(--cor-primaria);
    border-radius: 5px; 
    position: absolute;
    z-index: 1;
    margin: -8px 0 0 -8px;
}
.box-img-member{
    height: 220px;
    width: 160px;   
    background-color: gray;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    border: 5px solid var(--cor-primaria);
}
.box-img-member img{
    width: 100%;
    height: 100%;
    
}
.subtitle-apelido h1{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-subtitulo);
    font-weight: var(--font-bold-subtitulo);
    color: var(--bs-body-color);
    
}
.name-member h3{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    font-size: var(--fs-normal);
    font-weight: var(--font-bold);
    color: var(--cor-details);
}
.text-nationality{
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 10px;
}
.text-nationality img{
    width:40px;
    height: 30px;
}
.text-nationality h2{
    margin: 0 0 0 0;
    font-family: var(--fonte-principal);
    font-size: var(--fs-subtitulo);
    font-weight: var(--font-bold);
    color: var(--bs-body-color);
}

.division-box{
    width: 100%;
    display: flex;
    gap: 3.5%;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
}
.simple-member-box{
    height: auto;
    width: 31%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 0 0 0;
    padding: 20px;
    display: flex;
}
.simple-color-img{
    height: 180px;
    width: 120px;   
    background-color: var(--cor-primaria);
    border-radius: 5px; 
    position: absolute;
    z-index: 1;
    margin: -8px 0 0 -8px;
}
.simple-img-member{
    height: 180px;
    width: 120px;   
    background-color: gray;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    border: 5px solid var(--cor-primaria);
}
.big-box-member{
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px 0 0 0;
    padding: 20px 20px 30px 20px;
}
.container-content-text{
    width: 100%;
    height: 100%;
    display: flex;

}
.container-all-informations{
    width: 100%;
}
.container-primary-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container-secundary{
    display: flex;
    width: 100%;
    margin: 1.3rem 0 0 0;
    justify-content: space-around   ;
}
.container-secundary h2{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-normal);
    font-weight: var(--font-bold-subtitulo);
    color: var(--bs-body-color);
}
.container-secundary h3{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-normal);
    font-weight: var(--font-bold-texto);
    color: var(--bs-body-color);
}
.container-primary-box h1{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-subtitulo);
    font-weight: var(--font-bold-subtitulo);
    color: var(--bs-body-color);
}
.container-primary-box h3{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    font-size: var(--fs-normal);
    font-weight: var(--font-bold);
    color: var(--cor-details);
}


.container-tertiary h2{
    margin: 1rem 0 0 1rem;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-normal);
    font-weight: var(--font-bold-subtitulo);
    color: var(--bs-body-color);
}
.container-tertiary p{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-);
    font-size: var(--fs-normal);
    font-weight: var(--font-bold-texto);
    color: var(--bs-body-color);
    text-align: justify;
}
.big-division-img{
    margin: 15px 0 0 15px;

}
.big-color-img{
    height: 300px;
    width: 200px;
    background-color: var(--cor-primaria);
    position: absolute;
    z-index: 1;
    margin: -8px 0 0 -8px;
    border-radius: 5px;
}
.big-caixa-img{
    height: 300px;
    width: 200px;
    background-color: gray;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    border: 5px solid var(--cor-primaria);
}
.big-caixa-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.container-simple-text{
    display: flex;
    flex-direction: column;
}
.container-simple-primary h2{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-normal);
    font-weight: var(--font-bold-subtitulo);
    color: var(--bs-body-color);
}
.container-simple-primary h3{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    font-size: var(--fs-normal);
    font-weight: var(--font-bold);
    color: var(--cor-details);
}

.container-simple-secundary h2{
    margin: 0.5rem 0 0 1rem;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-normal);
    font-weight: var(--font-bold-subtitulo);
    color: var(--bs-body-color);
}
.container-simple-secundary h3{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    font-size: var(--fs-normal);
    font-weight: var(--font-bold-texto);
    color: var(--cor-fundo);
}
.button-saiba-mais p{
    margin: 0;
}
.container-button-nacionality{
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 0;  
    margin: 0 0 0 0;
}
.flag-member img{
    height: 30px;
    width: 40px;
    margin: 8px 0 0 0 ;
}
.button-saiba-mais{
    width: 160px;
    height: 35px;
    margin: 0.5rem 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-normal);
    font-weight: var(--font-bold-subtitulo);
    color: white;
    border-radius: 5px;
}
.container-content-simple{
    width: 100%;
    display: flex;
}
@media (max-width: 1440px) {
    
}
@media (max-width: 991px) {
    .container-primary-box{
        flex-direction: column;
        justify-content: start;
    }
    
    .text-nationality{
        margin: 0.2rem 0 0 1rem;
        align-items: center ;
    }

    .text-nationality img{
        width:28px;
        height: 20px;
        
    }
    .container-secundary{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container-tertiary{
        margin: 18% 0 0 -50%;
    }
}
@media (max-width: 768px) {
    .container-text-member{
        flex-direction: column;
        justify-content: start;
    }
    
    .big-box-member{
        transform: scale(0.9);
    }
    .container-secundary{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .container-tertiary{
        margin: 14% 0 0 -85%;
    }
    
}