main{
    margin: 120px 0 0 0;
}
section{
    width: 100%;
    padding-block: 70px 70px;
}
header{
    background-color: rgba(0, 0, 0, 10);

}
.container-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
hr {
    background: var(--cor-degrade);
    height: 8px;
    opacity: 100;
    border: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.title-containers{
    margin: 0 auto 0 auto;
    text-align: center;
    width: fit-content;
}
.title-containers h1 {
    margin: 0 0 0 0;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-titulo);
    font-weight: var(--font-bold-titulo);
}
.box-information-all{
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px 0 30px 0;
    padding: 20px;
    display: flex;
}
.container-content-member{
    display: flex;
    width: 100%;
}
.container-text-member{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text-primary{
    display: flex;
    width: 100%;
}
.division-img-all{
    margin: 8px 0 0 8px;
}
.box-color-img{
    height: 220px;
    width: 160px;   
    background-color: var(--cor-primaria);
    border-radius: 5px; 
    position: absolute;
    z-index: 1;
    margin: -8px 0 0 -8px;
}
.box-img-member{
    height: 220px;
    width: 160px;   
    background-color: gray;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    border: 5px solid var(--cor-primaria);
}
.box-img-member img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.subtitle-apelido h1{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: var(--fs-subtitulo);
    font-weight: var(--font-bold-subtitulo);
    color: var(--bs-body-color);
    
}
.name-member h3{
    margin: 0.2rem 0 0 1rem;
    font-family: var(--fonte-principal);
    font-size: var(--fs-normal);
    font-weight: var(--font-bold);
    color: var(--cor-details);
}
.text-nationality h2{
    margin: 0 0 0 0;
    font-family: var(--fonte-principal);
    font-size: var(--fs-subtitulo);
    font-weight: var(--font-bold);
    color: var(--bs-body-color);
}

.division-box{
    width: 100%;
    display: flex;
    gap: 3.5%;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
}
.simple-member-box{
    height: 160px;
    width: 31%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 0 30px 0;
}
.big-box-member{
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px 0 0 0;
    padding: 20px 20px 30px 20px;
}
.big-division-img{
    margin: 15px 0 0 15px;

}
.big-color-img{
    height: 300px;
    width: 200px;
    background-color: var(--cor-primaria);
    position: absolute;
    z-index: 1;
    margin: -8px 0 0 -8px;
    border-radius: 5px;
}
.big-caixa-img{
    height: 300px;
    width: 200px;
    background-color: gray;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    border: 5px solid var(--cor-primaria);
}
.big-caixa-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .container-text-member{
        flex-direction: column;
        justify-content: start;
    }
    .text-nationality{
        margin: 0.2rem 0 0 1rem;
    }
}