/*Formatacões*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: var(--fonte-principal);
    font-weight: var(--font-bold);
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

.link-active {
    color: var(--cor-primaria);

}

/*Reutilizaveis*/

/*Container*/
.container-width {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .container-width {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .container-width {
        max-width: 900px;
    }
}

/*Fim do container*/

/*Header*/
header {
    width: 100%;
    height: 80;
    padding: 10px 10px;
    background-color: var(--cor-fundo);
}

.nav {
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-size: var(--fs-pequeno);
    text-transform: uppercase;
    padding-block: 16px;
}


.hero {
    height: calc(100vh - 80px);
    background: center / cover no-repeat var(--cor-texto);
}

/*Menu hamburger*/
.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

/*Fim do hamburger*/

/*Menu hamburger responsivo*/
@media (max-width: 870px) {

    .container-width {
        max-width: 600px;
        margin: 0 auto;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 25px;
        height: 2px;
        background: #fff;
        margin-top: 5px;
        position: relative;
        transition: 0.3s;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--cor-fundo);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        pointer-events: none;
    }

    .nav-list a {
        font-size: var(--fs-pequeno);
        opacity: 0;

    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*Fim do hamburger responsivo*/