main{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.container-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin-top: 15%;
    margin-bottom: 10%;

}
.container-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;
}
.container-one h1{
    width: max-content;
    flex-wrap: nowrap;
    font-weight: var(--font-bold-titulo);
    font-size: var(--fs-titulo);
}
.container-two h1{
    width: max-content;
    flex-wrap: nowrap;
    font-weight: var(--font-bold-titulo);
    font-size: var(--fs-titulo);

}
.container-three h1{
    width: max-content;
    flex-wrap: nowrap;
    font-weight: var(--font-bold-titulo);
    font-size: var(--fs-titulo);

}
.container-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;

}
.container-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;

}
.botao-acesso{
    background-color: var(--cor-primaria);
    border-radius: 5px;
    padding: 10px 80px;
    width: 350px;
    height: fit-content;
    cursor: pointer;
    transition: 1s all;
    display: flex;
    justify-content: center;
    gap: 10px   ;
    
}
.botao-acesso i{
    transition: 1s all;
}

.botao-acesso:hover{
    background-color: rgb(227, 167, 3);
}
.botao-acesso:hover i{
    padding-left: 10px;}

.botao-acesso i{
    color: white;
    font-weight: 800;
}
.texto-botao{
    font-family:var(--font-principal);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: var(--font-bold-subtitulo);
    color: white;
}
@media screen and (max-width: 1850px) {
    .container-content {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .container-one {
        grid-column: 1;
    
    }

    .container-two {
        grid-column: 2;
        

    }

    .container-three {
        grid-column: 1 / -1; /* ocupa as 2 colunas */
        justify-self: center; /* centraliza horizontalmente */
    }
}
@media screen and (max-width: 1024px) {
    .container-content{
        margin-top: 18%;
        grid-template-columns: repeat(1,1fr);
        gap: 90px;
    }
    .botao-acesso{
        padding: 10px;
        width: 280px;
    }
    .container-one {
        grid-column: 1;
        justify-self: center;

    }

    .container-two {
        grid-column: 1;
        justify-self: center;


    }

    .container-three {
        grid-column: 1;
        justify-self: center;
    }
}
@media screen and (max-width: 630px) {
    .container-content{
        margin-top: 25%;
    }
}
@media screen and (max-width: 425px) {
    .container-content{
        margin-top: 30%;
    }
}
@media screen and (max-width: 374px) {
    .container-one h1{
        width: auto;
        text-align: center;
    }
    .container-two h1{
        width: auto;
        text-align: center;
    }
    .container-three h1{
        width: auto;
        text-align: center;
    }
    .botao-acesso{
        width: 230px;
    }
}

